h1 {
    text-align: center;
    text-transform: uppercase;
}

body {
    background-color: burlywood;
}

.flexboxColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width:20em;
}

.registreringBox {
    background-color: bisque;
    padding: 1em;
    border: 0;
    border-radius: 0.25em;
}

.boxListElemet {
    margin: 1em 0;
}

.flexLabel {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.flexLabelInput {
    flex-grow: 1;
    background-color: burlywood;
    border: 0;
    padding: 0.25em 0.5em;
    margin-left: 0.5em;
    border-radius: 0.25em;
}

input[type="submit"] {
    background-color: burlywood;
    border: 0;
    font-weight: bold;
    font-size: 1.25em;
    padding: 0.25em 0;
    margin-top: 0.25em;
    border-radius: 0.25em;
}

.karakterBean {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 0.2em;
    padding: 0;
    margin: 0;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}

.gray {
    filter: grayscale(100%) brightness(2);
    -webkit-filter: grayscale(100%) brightness(2);
    -moz-filter: grayscale(100%) brightness(2);
    -o-filter: grayscale(100%) brightness(2);
}

.inline-block-element {
    display: inline-block;
}