$mainBackground: moccasin;
$cardBackground: burlywood;
$cardInputBackground: moccasin;
$cardSubmitBackground: saddlebrown;
$cardSubmitFocus: lighten($cardSubmitBackground, 20%);
$inputOutlineColor: $cardSubmitBackground;
$fast: 0.1s;
$medium: 0.25s;
$long: 0.5s;
$contentWidth: 80%;
$contentWidthNarrowViewPort: 100%;
$boxWidth: 20em;
$mediaNarrowWidth: 420px;
$calendarItemBackground: $cardBackground;
$calendarItemBackgroundHover: $cardSubmitFocus;

$textColor: saddlebrown;

@mixin transition($propertyValues...) {
  -webkit-transition: $propertyValues;
  -moz-transition: $propertyValues;
  -ms-transition: $propertyValues;
  -o-transition: $propertyValues;
  transition: $propertyValues;
}

html{
  background: linear-gradient(to top, $mainBackground, $cardBackground);
  background: $mainBackground;
  height: 100%;
}


p, a, h1, h2, label, select, input, button, span {
  color: $textColor;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 1em;
}

p {
  font-weight: bold;
}

a {
  font-style: italic;
  &:hover {
    font-weight: bold;
  }
}

.standardMargin {
  margin: 1em;
}

.holder {
  width: 100%;
  background-color: $cardBackground;
  display: inline-block;
  position: relative;

  &.bryggRegistrering {
    width: 20em;

    @media all and (max-width: $mediaNarrowWidth) {
      width: $contentWidthNarrowViewPort;
      margin: 1em 0;
    }
  }

  h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 1em 0 1em;
    text-align: center;
  }

  .formInputContent {
    width: 100%;
    padding: 0.5em 1em;
    box-sizing: border-box;

    label {
      display: block;
      margin: 0.5em 0;
      padding: 0;
      font-weight: bold;
    }

    input {
      display: block;
      width: 100%;
      padding: 0.25em;
      margin: 0;
      margin-top: 0.25em;
      box-sizing: border-box;
      border: none;
      background-color: $cardInputBackground;
      outline-color: transparent;
      @include transition(outline-color 0.5s);

      &:focus, &:hover {
        outline: $inputOutlineColor 0.2em solid;
      }
    }

    select {
      display: block;
      width: 100%;
      margin: 0;
      margin-top: 0.25em;
      padding: 0.25em 0;
      border: none;
      background-color: $cardInputBackground;
      outline-color: transparent;
      @include transition(outline-color 0.5s);

      &:focus, &:hover {
        outline: $inputOutlineColor 0.2em solid;
      }
    }
  }

  .formInputContent + input[type="submit"] {
    width: 100%;
    height: 3em;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    background-color: $cardSubmitBackground;
    color: $cardInputBackground;
    display: block;
    font-size: 1em;
    @include transition(background-color 0.5s);

    &:focus, &:hover {
      outline: none;
      //transform: scale(1.1);
      font-size: 1.25em;
      //box-sizing: content-box;
      padding: 0;
      //margin: auto;
      background-color: $cardSubmitFocus;
    }
  }
}

.inlineblock {
  display: inline-block;
}

ul.nonListDisplay {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nyttBryggKnapp {
  width: 2em;
  height: 2em;
  margin: 0.2em;
  background-color: transparent;
  background-image: url("../images/pluss.png");
  background-size: 2em;
  background-repeat: no-repeat;
  border: none;
  box-sizing: content-box;

  @include transition(transform $medium);

  &:hover, &:focus {
    border: solid $cardSubmitBackground 0.2em;
    margin: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    outline: none;
  }
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.spread {
  justify-content: space-between;
}

.messageBox {
  width: 100%;
  background-color: $cardBackground;
  display: inline-block;

  h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 1em 0 1em;
    text-align: center;
  }

  p {
    padding: 0 1em 0.5em 1em;
  }
}

.closeButton {
  position: absolute;
  width: 1em;
  height: 1em;
  margin: 1.25em 1em;
  right: 0;
  top: 0;
  @include transition(transform $medium);

  &:hover {
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
}

.flipContainer {
  position: relative;
  width: $boxWidth;
  margin: 1em;

  @media all and (max-width: $mediaNarrowWidth) {
    width: $contentWidthNarrowViewPort;
    margin: 1em 0;
  }
}

.flippable {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.notFlipped {
  transform: rotateY(0);
  visibility: visible;
  transition: transform $medium linear, visibility ($medium / 2) step-end;
}

.flipped {
  transform: rotateY(180deg);
  visibility: hidden;
  transition: transform $medium linear, visibility ($medium / 2) step-end;
}

.flipper {
  transition: transform $long;
}

.flip90Deg {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

@keyframes flipVertical {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.25em $cardSubmitBackground solid;

  .navElement {
    padding: 0.5em 1em;
  }

  .navValgt {
    background-color: $cardSubmitBackground;
    color: $cardInputBackground;
  }

  a {
    &:focus, &:hover {
      outline: none;
      font-weight: bold;
      background-color: $cardSubmitFocus;
    }
  }
}

.content {
  width: $contentWidth;
  margin: auto;

  @media all and (max-width: $mediaNarrowWidth){
    width: $contentWidthNarrowViewPort;
  }
}

.historikkContainer {
  position: relative;
}

.calendar {
  display: flex;
  flex-direction: row;
  width: 50em;

  @media all and (max-width: 1024px) {
    width: 100%;
  }

  .calendarDayOfWeek {
    display: flex;
    flex-direction: column;
    width: (100% / 7);

    .cItem {
      height: 6em;
      background-color: $calendarItemBackground;
      @include transition(background-color 0.25s);
      margin: 0.1em;
      overflow: hidden;
      border: none;
      outline: none;

      .cIDate {
        text-align: right;
        margin: 0.25em 0.25em 0.5em auto;
      }

      &:hover, &:focus {
        background: $calendarItemBackgroundHover;
      }

      &.hidden {
        visibility: hidden;
      }
    }

    .cHeader {
      font-weight: bold;
      margin: 0.5em;
    }
  }
}

.cItemSub {
  width: 100%;
  height: 100%;
}

.monthArrow {
  width: 2em;
  height: 2em;
  margin: 1em;
  align-self: center;

  background-color: transparent;
  border: none;
  outline: none;
  background-image: url("../images/arrow_left.png");
  background-size: 2em 2em;
  background-repeat: no-repeat;
  background-position: center;

  @include transition(background-size $medium);

  &:hover, &:focus {
    background-size: 2em 1em;
  }
}

.rotated {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.historyMonth {
  align-self: center;
  font-weight: bold;
  font-size: 2em;
  margin: 1em 0;
}

.historikkDag {
  width: $boxWidth;
  background: $cardBackground;
  padding: 1em;

  .bryggNavn {
    background: $cardSubmitBackground;
    margin: 0.25em;
    padding: 0.5em;
    @include transition(background-color $medium);

    &.bryggNavnValgt {
      background: $cardInputBackground;
    }

    &:hover {
      background: $cardInputBackground;
    }
  }

  label {
    font-weight: bold;
    display: inline-block;
    margin: 0.25em;

    span {
      font-weight: normal;
    }
  }

  .close {
    width: 1em;
    height: 1em;
    margin: 0 1em 1em 1em;
    @include transition(transform $medium);

    &:hover {
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
  }

  .historikkBryggContainer {
    width: 100%;
  }

  .historikkBryggData {
    padding: 0.25em;
  }


}

.historikkKarakter {
  background: $cardInputBackground;
  padding: 0.25em;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.historikkBryggSelect {
  background: $cardInputBackground;
  width: 100%;
  border: none;
  align-self: flex-start;
  font-weight: bold;
  font-size: large;
  padding: 0.5em;
  outline-color: transparent;
  @include transition(outline-color $medium);

  &:focus, &:hover {
    outline: $inputOutlineColor 0.2em solid;
  }
}

.historikkVelger {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.disable {
  background-color: rgba(0,0,0,50);
  width: 100%
}

.antallBean {
  width: 1em;
  height: 1em;
  margin: 0.1em;
}

.antallHolder {
  @extend .horizontalContainer;
  wrap: wrap;
}

.buttonOuter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $cardSubmitBackground;
  color: $cardInputBackground;
  border: none;
  outline: none;
  height: 2.5em;
  font-size: 1em;
  @include transition(background $medium);

  &:hover, &:focus {
    background: $cardSubmitFocus;
    height: 2.5em;

    .buttonInner {
      font-size: 1.25em;
    }
  }
}

.buttonInner {
  width: 100%;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font-size: 1em;

  @include transition(font-size $medium);
}

.halfWidth {
  width: 50%;
}

.closeButtonButton {
  width: 1em;
  height: 1em;
  margin: 1.25em 1em;
  background-color: transparent;
  border: none;
  background-image: url("../images/cross.png");
  background-size: 1em 1em;
  background-repeat: no-repeat;

  @include transition(transform $medium);

  &:hover, &:focus {
    outline: $cardSubmitBackground 0.2em solid;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
}

.historikkClose {
  margin: 0 1em 1em 1em;
}

.upperRight {
  position: absolute;
  top: 0;
  right: 0;
}

table {
  margin: 1em;
  background-color: $cardBackground;
  padding: 1em;
  min-width: $boxWidth;

  color: $textColor;

  tr {

    td {
      padding: 0.5em;
    }

    &:nth-child(even) {
      background-color: $cardInputBackground;
    }
  }
}

.myCheckBoxInput {
  display: none;
}

.myCheckBox {
  width: 1.5em;
  height: 1.5em;
  opacity: 0.2;
}

.myCheckBoxVisuals {
  background-color: gray;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}

.myCheckBoxContainer {
  position: relative;

  input[type="checkbox"] {
    margin: 0;
    padding: 0;
    box-shadow: none;
    opacity: 0;

    &:focus + label, &:hover + label {
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }

    &:checked + label::before {
        content: "X";
    }

    &:not(:checked) + label {
    }
  }

  label {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
    outline: 0.2em solid $textColor;
    text-align: center;
    @include transition(transform $medium);
  }

}

.statistikk {
  background-color: $cardBackground;
  width: $boxWidth;
  margin: 1em;

  h1 {
    margin: 0.5em auto 0 auto;
    padding: 0;
  }

  .checkMark {
    width: 1em;
    height: 1em;
  }

  table {
    margin: 0;
    padding: 1em;


    tbody tr:nth-child(odd) {
      background-color: $cardInputBackground;
    }
    tbody tr:nth-child(even) {
      background-color: transparent;
    }
    tr td, tr th {
      padding: 0.25em 0.5em;
      text-align: center;
    }
  }
}