h1 {
    text-align: center;
    text-transform: uppercase;
    color: saddlebrown;
}

body {
    background-color: burlywood;
}

.appContent {
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contentRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: start;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    display: flex;
    justify-content: center;
    font-size: large;
    border-bottom: 2px solid saddlebrown;
    box-sizing: border-box;
    margin: 0 auto 1em auto;
    width: 80%;
}

nav > li {
    display: inline-block;
}

.navElement {
    display: inline-block;
    padding: 0.25em;
    text-transform: uppercase;
    text-decoration: none;
    color: saddlebrown;
    font-weight: bold;
}

.navElement:visited {
    color: saddlebrown;
}

.navValgt {
    background-color: bisque;
}

.flexboxColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.registreringBox {
    background-color: bisque;
    padding: 1em;
    border: 0;
    border-radius: 0.25em;
    width: 20em;
}

.boxListElemet {
    margin: 1em 1em;
}

.flexLabel {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    font-weight: bold;
    color: saddlebrown;
}

.flexLabelInput {
    flex-grow: 1;
    background-color: burlywood;
    border: 0;
    padding: 0.25em 0.5em;
    margin-left: 0.5em;
    border-radius: 0.25em;
}

input:focus {
    outline-color: saddlebrown;
}

select:focus {
    outline-color: saddlebrown;
}

input[type="submit"] {
    border: 0.15em solid saddlebrown;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 0;
    margin-top: 0.25em;
    border-radius: 0.25em;
    background-color: burlywood;
    color: saddlebrown;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    box-shadow: 0 0 0.5em saddlebrown;
    background-color: saddlebrown;
    color: burlywood;
}

input[type="submit"]:focus {
    outline: 0;
}

.karakterBean {
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 0.2em;
    padding: 0;
    margin: 0;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}

.gray {
    filter: grayscale(100%) brightness(2);
    -webkit-filter: grayscale(100%) brightness(2);
    -moz-filter: grayscale(100%) brightness(2);
    -o-filter: grayscale(100%) brightness(2);
}

.inline-block-element {
    display: inline-block;
}

.bryggRegistrertHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
}

.bryggNavnHeader {
    margin: 0;
    font-size: 1.25em;
    text-align: left;
    display: inline-block;
    border: 0.15em solid transparent;
    border-radius: 0;
}

.closeButton {
    background-image: url('../images/cross.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% 100%;
    width: 1.5em;
    height: 1.5em;
    padding: 0.25em;
    border: 0em solid transparent;
}

.closeButton:hover {
    border: 0.15em solid transparent;
    border-radius: 0.5em;
}

.closeButton:focus {
    border: 0.4em solid transparent;
    border-radius: 2em;
    outline: none;
}

.nyttBryggTegn {
    background-image: url('../images/pluss.png');
    width: 3em;
    height: 3em;
    margin: 1em;
}

.dialog {
    position: absolute;
    display: flex;
    flex-directino: row;
    flex-wrap: wrap;
    align-self: left;
    justify-content: space-between;
    background-color: burlywood;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 0 0.5em saddlebrown;
    z-index: 5;
}

.dialog > button {
    padding: 0.25em;
    border: 0.15em solid saddlebrown;
    border-radius: 0.5em;
    background-color: bisque;
    width: 25%;
    font-weight: bold;
    color: saddlebrown;
    text-transform: uppercase;
}

.dialog > button:hover {
    background-color: saddlebrown;
    box-shadow: 0 0 1em saddlebrown;
    color: bisque;
}

.dialog > button:focus {
    outline: 0;
}

.dialog > p {
    width: 100%;
    margin-top: 0;
}

.requiredOK {
    color: green;
    font-weight: bold;
}

.requiredNotOK {
    color: red;
    font-weight: bold;
}

.lukkGjetteResultat {
    align-self: center;
}

.gjetteResultat {
    position: absolute;
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 15em;
    background-color: burlywood;
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: 0 0 1em saddlebrown;
}

.toBackFace {
    visibility: hidden;
    transform: rotateX(180deg);
    transition: visibility 0.25s step-end, transform 0.5s ease-in-out;
}

.toFrontFace {
    visibility: visible;
    transform: rotateX(0);
    transition: visibility 0.25s step-end, transform 0.5s ease-in-out;
}

.className > h2 {
    font-size: large;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.flipped {
    transform: rotateX(180deg);
    opacity: 0;
    visibility: hidden;
}

.card {
    position: absolute;
    width: 20em;
    height: 13em;
    top: 0;
    box-sizing: border-box;
    background-color: burlywood;
    border: 0.2em solid saddlebrown;
    border-radius: 0.5em;
    padding: 1em;
}

.cardHolder {
    position: relative;
    overflow: hidden;
    height: 13em;
}

.cardOutTop {
    top: -15em;
    transition: top 0.3s ease-in-out;
}

.cardDefault {
    top: 0em;
    transition: top 0.3s ease-in-out;
}

.cardOutBottom {
    top: 13em;
    transition: top 0.3s ease-in-out;
}