body, h1, h2, h3, ul, li, img, label, input, div, a, p {
    font-size: 100%;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Trebuchet MS", "Helvetica", "sans-serif";
}

body {
    background-color: burlywood;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;/*Sørger for at minimering ikke blir resentrert*/
    flex-wrap: wrap;
    width: 100%;
    font-size: 100%;
}

.registreringElement {
    background-color: antiquewhite;
    width: 25em;
    display: flex;
    flex-direction: column;
    margin: 1em;
    color: saddlebrown;
    font-weight: bold;
}

.registreringElementRad {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.75em;
}

.registreringInput {
    flex-grow: 2;
    border: none;
    padding: 0.25em;
}

.karakterInnhold {
    padding: 0 1em;
}

div.registreringElementRad label {
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0.25em 0.25em 0.25em 0;
}

div.registreringElementRad select {
    flex-grow: 2;
    font-size: 100%;
    background-color: antiquewhite;
    border-color: transparent;
    color: gray;
}

div.registreringElementRad select:focus {
    outline: none;
}

div.registreringElementRad input:focus {
    outline: none;
    border: none;
    background-color: burlywood;
}

.registreringElementTittel {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 0.25em;
}
.registreringElementTittel h1 {
    font-size: 150%;
    font-weight: bolder;
    padding: 0.25em;
}

.truncate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.hidden {
    display: none;
}

.showKarakter {
    background-image: url(images/icon_down_arrow.png);
    background-size: 2em;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.pointLeft {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}

.pointDown {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}

.registreringButton {
    font-size: 125%;
    font-weight: bold;
    width: 100%;
    background-color: transparent;
    color: saddlebrown;
    margin-top: 0.75em;
    padding: 0.25em 0;
    margin-bottom: 0;
    border: none;
}

.registreringButton:hover {
    background-color: saddlebrown;
    color: antiquewhite;
    outline: none;
}

.registreringElementTittel select {
    background-color: transparent;
    flex-grow: 2;
    border-color: transparent;
    font-size: 150%;
    font-weight: bolder;
    color: saddlebrown;
    padding: 0;
}
.registreringElementTittel select:focus {
    outline: none;
}

div.registreringElementTittel button {
    flex-grow: 0;
    height: 2em;
    background-color: transparent;
    background-image: url(images/arrow_left.png);
    background-repeat: no-repeat;
    border: none;
    background-size: 2em;
    margin-right: 0.5em;
}

div.registreringElementTittel button:focus {
    outline: none;
}

.karakterBeansDiv {
    padding: 0.1em;
    display: flex;
}

.karakterBean {
    width: 1.2em;
    height: 1.2em;
    padding: 0;
    margin: 0;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}

.gray {
    filter: grayscale(100%) brightness(2);
    -webkit-filter: grayscale(100%) brightness(2);
    -moz-filter: grayscale(100%) brightness(2);
    -o-filter: grayscale(100%) brightness(2);
}
.horizontalLine {
    border-style: solid;
    border-width: thin;
    margin: 0 0.5em 0.5em 0.5em;
}