$cardBackground: lightGray;
$cardInputBackground: lighten(rgb(211, 211, 211), 10%);
$cardSubmitBackground: darken(rgb(211, 211, 211), 20%);
$cardSubmitFocus: darken(rgb(211, 211, 211), 50%);
$inputOutlineColor: darken(rgb(211, 211, 211), 40%);
$fast: 0.1s;
$medium: 0.5s;
$contentWidth: 80%;
$contentWidthNarrowViewPort: 100%;
$boxWidth: 20em;
$mediaNarrowWidth: 420px;
$calendarItemBackground: $cardBackground;
$calendarItemBackgroundHover: darken(rgb(211, 211, 211), 20%);

@mixin transition($property, $value) {
  -webkit-transition: $property $value;
  -moz-transition: $property $value;
  -ms-transition: $property $value;
  -o-transition: $property $value;
  transition: $property $value;
}

h1 {
  color: green;
}

p {
  font-weight: bold;
}

a {
  font-style: italic;
  &:hover {
    font-weight: bold;
  }
}

.holder {
  width: 100%;
  background-color: $cardBackground;
  display: inline-block;
  position: relative;

  &.bryggRegistrering {
    width: 20em;

    @media all and (max-width: $mediaNarrowWidth) {
      width: $contentWidthNarrowViewPort;
      margin: 1em 0;
    }
  }

  h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 1em 0 1em;
    text-align: center;
  }

  .formInputContent {
    width: 100%;
    padding: 0.5em 1em;
    box-sizing: border-box;

    label {
      display: block;
      margin: 0.5em 0;
      padding: 0;
      font-weight: bold;
    }

    input {
      display: block;
      width: 100%;
      padding: 0.25em;
      margin: 0;
      margin-top: 0.25em;
      box-sizing: border-box;
      border: none;
      background-color: $cardInputBackground;
      outline-color: transparent;
      @include transition(outline-color, 0.5s);

      &:focus {
        outline-color: $inputOutlineColor;
      }
    }

    select {
      display: block;
      width: 100%;
      margin: 0;
      margin-top: 0.25em;
      padding: 0.25em 0;
      border: none;
      background-color: $cardInputBackground;
      outline-color: transparent;
      @include transition(outline-color, 0.5s);

      &:focus {
        outline-color: $inputOutlineColor;
      }
    }
  }

  .formInputContent + input[type="submit"] {
    width: 100%;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    background-color: $cardSubmitBackground;
    display: block;
    @include transition(background-color, 0.5s);

    &:focus {
      outline: none;
      background-color: $cardSubmitFocus;
    }

    &:hover {
      background-color: $cardSubmitFocus;
    }
  }
}

.inlineblock {
  display: inline-block;
}

ul.nonListDisplay {
  width: 100%;
  margin: 0;
  padding: 0;
}

.nyttBryggKnapp {
  width: 2em;
  height: 2em;
  margin: 0em;
  transition: width $fast, height $fast, margin $fast;

  &:hover, &:focus {
    width: 1.5em;
    height: 1.5em;
    margin: 0.25em;
  }
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.spread {
  justify-content: space-between;
}

.bottomButton {
  width: 100%;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
  border: none;
  background-color: $cardSubmitBackground;
  display: block;
  @include transition(background-color, 0.5s);

  &:focus, &:hover {
    outline: none;
    background-color: $cardSubmitFocus;
  }
}

.messageBox {
  width: 100%;
  background-color: $cardBackground;
  display: inline-block;

  button {
    @extend .bottomButton;
    display: inline-block;

    &.halfWidth {
      width: 50%;
    }
  }

  h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 1em 0 1em;
    text-align: center;
  }

  p {
    padding: 0 1em 0.5em 1em;
  }
}

.closeButton {
  position: absolute;
  width: 1em;
  height: 1em;
  margin: 1.25em 1em;
  right: 0;
  top: 0;
}

.flipContainer {
  position: relative;
  width: $boxWidth;
  margin: 1em;

  @media all and (max-width: $mediaNarrowWidth) {
    width: $contentWidthNarrowViewPort;
    margin: 1em 0;
  }
}

.flippable {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.notFlipped {
  transform: rotateY(0);
  visibility: visible;
  transition: transform $medium linear, visibility ($medium / 2) step-end;
}

.flipped {
  transform: rotateY(180deg);
  visibility: hidden;
  transition: transform $medium linear, visibility ($medium / 2) step-end;
}

@keyframes flipVertical {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 0.25em black solid;

  .navElement {
    padding: 0.5em 1em;
  }

  .navValgt {
    background-color: $cardSubmitBackground;
  }
}

.content {
  width: $contentWidth;
  margin: auto;

  @media all and (max-width: $mediaNarrowWidth){
    width: $contentWidthNarrowViewPort;
  }
}

.historikkContainer {
  position: relative;
}

.calendar {
  display: flex;
  flex-direction: row;
  width: 50em;

  @media all and (max-width: 1024px) {
    width: 100%;
  }

  .calendarDayOfWeek {
    display: flex;
    flex-direction: column;
    width: (100% / 7);

    .cItem {
      display: flex;
      flex-direction: column;
      height: 4.5em;
      background-color: $calendarItemBackground;
      @include transition(background-color, 0.25s);
      margin: 0.1em;
      overflow: hidden;

      .cIDate {
        text-align: right;
        margin: 0.25em 0.25em 0.5em auto;
      }

      &:hover {
        background: $calendarItemBackgroundHover;
      }

      &.hidden {
        visibility: hidden;
      }
    }

    .cHeader {
      font-weight: bold;
      margin: 0.5em;
    }
  }
}

.monthArrow {
  width: 2em;
  height: 2em;
  margin: 1em;
  align-self: center;
}

.rotated {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.historyMonth {
  align-self: center;
  font-weight: bold;
  font-size: 2em;
  margin: 1em 0;
}

.historikkDag {
  width: $boxWidth;
  background: $cardBackground;
  padding: 1em;

  .bryggNavn {
    background: $cardSubmitBackground;
    margin: 0.25em;
    padding: 0.5em;
    @include transition(background-color, $medium);

    &.bryggNavnValgt {
      background: $cardInputBackground;
    }

    &:hover {
      background: $cardInputBackground;
    }
  }

  label {
    font-weight: bold;
    display: inline-block;
    margin: 0.25em;

    span {
      font-weight: normal;
    }
  }

  .close{
    width: 1em;
    height: 1em;
    margin: 1em;
  }

  .historikkBryggContainer {
    width: 100%;
  }

  .historikkBryggData {
    padding: 0.25em;
  }

  .historikkKarakter {
    background: $cardInputBackground;
    padding: 0.25em;
  }

}

.disable {
  background-color: rgba(0,0,0,50);
  width: 100%
}

.antallBean {
  width: 1em;
  height: 1em;
  margin: 0.1em;
}

.antallHolder {
  @extend .horizontalContainer;
  wrap: wrap;
}