$cardBackground: lightGray;
$cardInputBackground: lighten(rgb(211, 211, 211), 10%);
$cardSubmitBackground: darken(rgb(211, 211, 211), 20%);
$cardSubmitFocus: darken(rgb(211, 211, 211), 50%);
$inputOutlineColor: darken(rgb(211, 211, 211), 40%);
$fast: 0.1s;
$medium: 0.5s;

@mixin transition($property, $value) {
  -webkit-transition: $property $value;
  -moz-transition: $property $value;
  -ms-transition: $property $value;
  -o-transition: $property $value;
  transition: $property $value;
}

h1 {
  color: green;
}

p {
  font-weight: bold;
}

a {
  font-style: italic;
  &:hover {
    font-weight: bold;
  }
}

.holder {
  margin: 1em;
  width: 20em;
  background-color: $cardBackground;
  display: inline-block;

  h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 1em 0 1em;
    text-align: center;
  }

  .formInputContent {
    width: 100%;
    padding: 0.5em 1em;
    box-sizing: border-box;

    label {
      display: block;
      margin: 0.5em 0;
      padding: 0;
      font-weight: bold;
    }

    input {
      display: block;
      width: 100%;
      padding: 0.25em;
      margin: 0;
      margin-top: 0.25em;
      box-sizing: border-box;
      border: none;
      background-color: $cardInputBackground;
      outline-color: transparent;
      @include transition(outline-color, 0.5s);

      &:focus {
        outline-color: $inputOutlineColor;
      }
    }

    select {
      display: block;
      width: 100%;
      margin: 0;
      margin-top: 0.25em;
      padding: 0.25em 0;
      border: none;
      background-color: $cardInputBackground;
      outline-color: transparent;
      @include transition(outline-color, 0.5s);

      &:focus {
        outline-color: $inputOutlineColor;
      }
    }
  }

  .formInputContent + input[type="submit"] {
    width: 100%;
    margin: 0;
    padding: 0.5em;
    box-sizing: border-box;
    border: none;
    background-color: $cardSubmitBackground;
    display: block;
    @include transition(background-color, 0.5s);

    &:focus {
      outline: none;
      background-color: $cardSubmitFocus;
    }

    &:hover {
      background-color: $cardSubmitFocus;
    }
  }
}

.inlineblock {
  display: inline-block;
}

ul.nonListDisplay {
  margin: 0;
  padding: 0;
}

.nyttBryggKnapp {
  width: 2em;
  height: 2em;
  margin: 0em;
  transition: width $fast, height $fast, margin $fast;

  &:hover, &:focus {
    width: 1.5em;
    height: 1.5em;
    margin: 0.25em;
  }
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.bottomButton {
  width: 100%;
  margin: 0;
  padding: 0.5em;
  box-sizing: border-box;
  border: none;
  background-color: $cardSubmitBackground;
  display: block;
  @include transition(background-color, 0.5s);

  &:focus, &:hover {
    outline: none;
    background-color: $cardSubmitFocus;
  }
}

.messageBox {
  margin: 1em;
  width: 20em;
  background-color: $cardBackground;
  display: inline-block;

  button {
    @extend .bottomButton;
  }

  h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0.5em 1em 0 1em;
    text-align: center;
  }

  p {
    padding: 0.5em 1em;
  }
}

.flipContainer {
  position: relative;
}

.flippable {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}

.notFlipped {
  transform: rotateY(0);
  visibility: visible;
  transition: transform $medium linear, visibility ($medium / 2) step-end;
}

.flipped {
  transform: rotateY(180deg);
  visibility: hidden;
  transition: transform $medium linear, visibility ($medium / 2) step-end;
}

@keyframes flipVertical {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}