<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div class="registreringElement" th:fragment="karakter_registrering" data-bind="visible: $root.visKarakterRegistrering">
        <div class="registreringElementTittel">
            <select class="truncate"
                    data-bind="options: $root.bryggListe,
                        optionsText: function(item){return item.navn},
                        value: $root.valgtBrygg">
            </select>
        </div>
        <div class="horizontalLine"></div>
        <div class="karakterInnhold">
            <div class="registreringElementRad">
                <label>Kaffe: </label>
                <select class="truncate" name="gjetteKaffeId"
                        data-bind="options: $root.muligeKaffer,
                            optionsCaption: 'Velg kaffe...',
                            optionsText: function(item) {return item.produsent + ' - ' + item.navn},
                            optionsValue: '_id',
                            value: $root.karakter().kaffeId">
                </select>
            </div>
            <div class="registreringElementRad">
                <label>Karakter: </label>
                <div class="karakterBeansDiv" >
                    <img th:src="@{css/images/coffee_bean.png}" class="karakterBean gray" alt="bean1" data-bind="event: {mouseover: hoverBeans, mouseout: finalizeBeansColor}, click: function() {setKarakter(1)}"/>
                    <img th:src="@{css/images/coffee_bean.png}" class="karakterBean gray" alt="bean2" data-bind="event: {mouseover: hoverBeans, mouseout: finalizeBeansColor}, click: function() {setKarakter(2)}"/>
                    <img th:src="@{css/images/coffee_bean.png}" class="karakterBean gray" alt="bean3" data-bind="event: {mouseover: hoverBeans, mouseout: finalizeBeansColor}, click: function() {setKarakter(3)}"/>
                    <img th:src="@{css/images/coffee_bean.png}" class="karakterBean gray" alt="bean4" data-bind="event: {mouseover: hoverBeans, mouseout: finalizeBeansColor}, click: function() {setKarakter(4)}"/>
                    <img th:src="@{css/images/coffee_bean.png}" class="karakterBean gray" alt="bean5" data-bind="event: {mouseover: hoverBeans, mouseout: finalizeBeansColor}, click: function() {setKarakter(5)}"/>
                </div>
            </div>
            <div class="registreringElementRad">
                <label>Bruker: </label>
                <input data-bind="value: $root.karakter().bruker" class="registreringInput" type="text" name="bruker" placeholder="Jerre"/>
            </div>
            <div class="registreringElementRad">
                <label>Kommentar: </label>
                <input data-bind="value: $root.karakter().kommentar" class="registreringInput" type="text" name="kommentar" placeholder="Denne var god..."/>
            </div>
        </div>
        <button class="registreringButton" data-bind="click: $root.registrerKarakter" name="registrer">Registrer</button>
    </div>
</body>
</html>